:root {
  --tempbg: #aeaeae;  
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;  
}

body {
  height: 100vh;
  background-color: var(--tempbg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}